<div class="flex h-dvh w-dvw flex-col bg-white">
  <app-header-full-component />
  <app-scroll-component class="h-full">
    <div class="flex flex-col gap-8 p-8">
      <app-three-parts-layout>
        <ng-container layout-middle>
          <div class="flex flex-col gap-8">
            <h1 class="text-2xl font-semibold">Profil Utilisateur</h1>

            <div class="flex flex-col gap-4">
              <app-text-input-component placeholder="Username..." />
              <app-text-input-component placeholder="Email..." />
              <app-text-input-component placeholder="Password..." />
            </div>

            <app-button-component variant="primary" class="mx-auto w-fit"
              >Sauvegarder</app-button-component
            >
          </div>
        </ng-container>
      </app-three-parts-layout>

      <hr />

      <div class="flex flex-col gap-8">
        <h1 class="mx-auto text-2xl font-semibold">Abonnements</h1>

        <app-grid-layout>
          @for(topic of topics(); track topic.id){
          <app-theme-card-component
            [topic]="{...topic, amISubscribed: true}"
            subscribedTitle="Se désabonner"
            (onClickUnubscribe)="unsubscribeFromTopic(topic.id!)"
          />
          }
        </app-grid-layout>
      </div>
    </div>
  </app-scroll-component>
</div>
