<div class="flex h-dvh w-dvw flex-col bg-white">
  <header-full-component />
  <three-parts-layout class="h-full">
    <ng-container layout-left>
      <button-component routerLink="/" class="m-15"> < </button-component>
    </ng-container>

    <ng-container layout-middle>
      <div class="flex h-full flex-col items-center justify-between gap-8 py-16">
        <h1 class="text-2xl">Créer un nouvel article</h1>

        <div class="flex h-1/2 w-full flex-col gap-4">
          <text-input-component placeholder="Sélectionner un theme" />
          <text-input-component placeholder="Titre de l'article" />
          <textarea-component class="h-full" placeholder="Contenu de l'article" />
        </div>

        <button-component variant="primary">Créer</button-component>
      </div>
    </ng-container>
  </three-parts-layout>
</div>
