<div class="flex h-dvh w-dvw flex-col bg-white">
  <app-header-full-component />
  <app-three-parts-layout class="h-full p-8">
    <ng-container layout-left>
      <app-button-component variant="transparent" routerLink="/">
        <ng-icon name="lucideArrowLeft" size="36" />
      </app-button-component>
    </ng-container>

    <ng-container layout-middle>
      <div class="flex h-full flex-col items-center justify-between gap-8 py-4">
        <h1 class="text-2xl">Créer un nouvel article</h1>

        <div class="flex h-[50vh] w-full flex-col gap-4">
          <app-text-input-component placeholder="Sélectionner un theme" [(value)]="topicId" />
          <app-text-input-component placeholder="Titre de l'article" [(value)]="title" />
          <app-textarea-component
            class="h-full"
            placeholder="Contenu de l'article"
            [(value)]="content"
          />
        </div>

        <app-button-component variant="primary" (click)="createArticle()">
          Créer
        </app-button-component>
      </div>
    </ng-container>
  </app-three-parts-layout>
</div>
