<div class="flex h-dvh w-dvw flex-col bg-white">
  <app-header-full-component />
  <app-scroll-component class="h-full">
    <div class="flex h-full flex-col gap-8 p-8 md:relative md:pl-20">
      <div class="flex flex-col gap-4">
        <div class="flex gap-4">
          <button
            class="top-8 left-4 cursor-pointer md:absolute"
            variant="transparent"
            routerLink="/"
          >
            <ng-icon name="lucideArrowLeft" size="36" />
          </button>

          <h3 class="text-left font-semibold">{{ article()?.title }}</h3>
        </div>

        <div class="flex flex-wrap gap-12">
          <p class="text-left">{{ article()?.createdAt | date: "yyyy-MM-dd" }}</p>
          <p class="text-left">{{ article()?.author?.username }}</p>
          <p class="text-left">{{ article()?.topic?.name }}</p>
        </div>

        <p class="text-left">{{ article()?.content }}</p>
      </div>

      <hr />

      <div class="flex flex-col gap-6">
        <p class="text-xl">Commentaires</p>

        <div class="flex w-full flex-col gap-4">
          @for (comment of comments(); track comment.id) {
            <app-comment-card-component
              class="w-full"
              [username]="comment.author.username"
              [content]="comment.content"
            />
          }
        </div>
      </div>

      <div class="flex h-40 items-center gap-4">
        <app-textarea-component
          placeholder="Écrivez ici votre commentaire"
          [(value)]="commentContent"
        />

        <button class="cursor-pointer text-violet-500" (click)="addComment()">
          <ng-icon name="lucideSend" size="36" />
        </button>
      </div>
    </div>
  </app-scroll-component>
</div>
