<div class="flex h-dvh w-dvw flex-col bg-white">
  <header-full-component />
  <div class="flex h-full w-full flex-col gap-6 p-8">
    <scroll-component class="h-full">
      <grid-layout>
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
      </grid-layout>
    </scroll-component>
  </div>
</div>
