<div class="h-dvh w-dvw flex flex-col bg-white">
  <header-component />
  <div class="h-full w-full flex flex-col p-8 gap-6">
    <scroll-component class="h-full">
      <grid-layout>
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
      </grid-layout>
    </scroll-component>
  </div>
</div>
