<div class="flex h-dvh w-dvw flex-col bg-white">
  <header-full-component />
  <scroll-component class="h-full">
    <div class="flex flex-col gap-6 p-8">
      <grid-layout>
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
        <theme-card-component />
      </grid-layout>
    </div>
  </scroll-component>
</div>
