<header-component>
  <div class="ml-auto hidden items-center md:visible md:flex">
    <button-component variant="transparent" routerLink="/sign"> Se déconnecter </button-component>
    <button-component variant="transparent" routerLink="/"> Articles </button-component>
    <button-component variant="transparent" routerLink="/themes"> Thèmes </button-component>
    <button-component variant="transparent" routerLink="/profile"> Profile </button-component>
  </div>

  <button class="ml-auto cursor-pointer" (click)="openMobileSidePanel()">...</button>

  @if (isMobileSidePanelVisible()) {
    <modal-component
      (onClose)="closeMobileSidePanel()"
      innerClass="ml-auto flex h-full w-2/3 flex-col border-l bg-white"
    >
      <button-component variant="transparent" routerLink="/sign"> Se déconnecter </button-component>
      <button-component variant="transparent" routerLink="/"> Articles </button-component>
      <button-component variant="transparent" routerLink="/themes"> Thèmes </button-component>
      <button-component variant="transparent" routerLink="/profile" class="mt-auto">
        Profile
      </button-component>
    </modal-component>
  }
</header-component>
