<header-component>
  <div class="ml-auto hidden items-center md:visible md:flex">
    <button-component variant="transparent" routerLink="/sign"> Se déconnecter </button-component>
    <button-component variant="transparent" routerLink="/"> Articles </button-component>
    <button-component variant="transparent" routerLink="/themes"> Thèmes </button-component>
    <button-component variant="transparent" routerLink="/profile"> Profile </button-component>
  </div>

  <button class="ml-auto cursor-pointer">...</button>

  <div class="absolute top-0 left-0 z-50 flex h-dvh w-dvw bg-gray-500 opacity-30">
    <div class="h-full w-1/2"></div>
  </div>
</header-component>
