<div class="flex h-dvh w-dvw flex-col bg-white">
  <header-full-component />
  <div class="flex h-full w-full flex-col gap-6 p-8">
    <three-parts-layout class="items-center">
      <ng-container layout-left>
        <button-component variant="primary" routerLink="/article-create">
          Créer un article
        </button-component>
      </ng-container>

      <ng-container layout-right>
        <button-component variant="transparent" class="ml-auto"> Trier par </button-component>
      </ng-container>
    </three-parts-layout>

    <scroll-component class="h-full">
      <grid-layout>
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
        <article-card-component routerLink="/article/1" />
      </grid-layout>
    </scroll-component>
  </div>
</div>
