<div class="flex h-dvh w-dvw flex-col bg-white">
  <app-header-full-component />
  <app-scroll-component class="h-full">
    <div class="flex flex-col gap-6 p-8">
      <app-three-parts-layout class="items-center gap-1">
        <ng-container layout-left>
          <app-button-component
            variant="primary"
            class="mx-auto md:mx-0"
            routerLink="/article-create"
          >
            Créer un article
          </app-button-component>
        </ng-container>

        <ng-container layout-right>
          <app-button-component
            variant="transparent"
            class="mx-auto md:mx-0 md:ml-auto"
            (click)="toggleSortBy()"
          >
            <span>Trier par</span>
            <ng-icon [name]="sortBy() === 'asc' ? 'lucideArrowUp' : 'lucideArrowDown'" />
          </app-button-component>
        </ng-container>
      </app-three-parts-layout>

      <app-grid-layout>
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
        <app-article-card-component routerLink="/article/1" />
      </app-grid-layout>
    </div>
  </app-scroll-component>
</div>
