<div class="h-dvh w-dvw flex flex-col bg-white">
  <header-component />
  <three-parts-layout class="h-full">
    <ng-container layout-left>
      <button-component routerLink="/sign" class="m-15"> < </button-component>
    </ng-container>

    <ng-container layout-middle>
      <div class="h-full flex flex-col justify-center items-center gap-4">
        <h1>Inscription</h1>

        <text-input-with-label-component label="E-mail ou Nom d'utilisateur" />
        <text-input-with-label-component label="Mot de passe" />

        <button-component variant="primary">S'inscrire</button-component>
      </div>
    </ng-container>

    <!-- blank -->
  </three-parts-layout>
</div>
